* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(240, 128, 128, 0.687);
  font-family: 'Inknut Antiqua', serif;
  font-family: 'Kanit';
}

.container {
  background-color: rgba(99, 195, 227, 0.89);
  width: 60%;
  margin: 10rem auto;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.388);
  text-align: center;
  padding: 20px;
  box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 32px;
  color: #000;
  font-weight: 400;
}

blockquote {
  color: #ffffffe0;
  margin: 20px auto;
  font-size: 22px;
  min-height: 100px;
}

blockquote::after,
blockquote::before {
  content: "''";
}

#author {
  color: #fff;
  margin-top: 2rem;
  margin-left: 20rem;
}
button {
  background-color: rgb(23, 124, 229);
  border-radius: 15px;
  color: #ffffffe0;
  width: 150px;
  height: 30px;
  margin: -2px auto;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 24px;
  }
  blockquote {
    color: #ffffffe0;
    margin: 20px auto;
    font-size: 18px;
    min-height: 100px;
  }
  button {
    font-size: 16px;
  }
  #author {
    color: #fff;
    margin-top: 2rem;
    margin-left: 8rem;
  }
}
